{% extends 'base.html.twig' %}

{% block title %}Procurar por palavra{% endblock %}

{% block body %}
    <h1 class="text-center">Elastic Search</h1>
    <div class="container">
        {{ form(form) }}
    </div>
{% endblock %}
